<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="junbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou uelinton Pereira instrutor de programçãos</p>

        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html> 